<!DOCTYPE html>
<html>
  <head>
    <title>My Note App</title>
    <link rel="stylesheet" href="/static/CSS/note.css" />
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
    <div>
      <h1>My Note App</h1>
    </div>
    <div style="float: left; width: 45%; margin: 5px">
      <textarea id="oriContent" style="height: 400px; width: 100%"></textarea>
    </div>
    <div style="float: left; width: 45%; margin: 5px">
      <div id="result"></div>
    </div>
  </body>
  <script src="/static/JS/note.js" charset="utf-8"></script>
</html>
